@import "~kingdom-css/src/modules/sizing";
@import "~kingdom-css/src/modules/spacing";
@import "~kingdom-css/src/modules/lists";

%unimposing {
  opacity: .8;
}

.blog {
  max-width: 100%;
  width: $readable-line-length-min + $readable-line-length-max;
  min-width: auto;

  margin-left: auto;
  margin-right: auto;

  @include padding-relative();

  p {
    @include width-readable();
  }
}

.blog-entry-list {
  @include list-unstyled();

  > * + * {
    @extend %mt-1 !optional;
  }

  .blog-entry-link {
    text-decoration: none;
    color: inherit;
  }
}

.blog-entry-title {
  :link & {
    @include apply-color(link);
    text-decoration: underline;
  }

  :visited & {
    @include apply-color(visited);
  }
}

.blog-entry-short {
  > * {
    @extend %mt-0 !optional;
  }

  .blog-entry-footer {
    @extend %unimposing;
  }
}

.blog-latest-entries-links {
  @include list-unstyled();
}

.blog-author-list {
  @include list-comma-separated();
}

.blog-entry-nav {
  [rel] {
    text-decoration: none;
    color: inherit;

    &:link > :last-child {
        @include apply-color(link);
        text-decoration: underline;
    }

    &:visited > :last-child {
      @include apply-color(visited);
    }
  }

  small {
    @extend %unimposing;
  }
}

.blog-social-sharing {
  h2 {
    @extend %text-small;
  }

  ul {
    @include list-inline();
  }

  .share-link-prefix {
    @extend .sr-only !optional;
  }
}
