@import "~kingdom-css/src/modules/sizing";

@media(min-width: $readable-line-length-max + $readable-line-length-min) {
  @supports(display: grid) {
    .blog-entry {
      display: grid;
      grid-template-columns: [header-start intro-start] $readable-line-length-max [intro-end] 1fr [header-end];
      grid-template-rows: [header-start intro-start]
                          1fr
                          auto
                          [intro-end]
                          auto
                          [header-end content-start];
      align-items: center;
      @include length-relative(grid-column-gap);

      > * {
        grid-column: 1 / span 1;
      }

      > hr {
        align-self: end;
      }

      .blog-entry-header {
        grid-row-start: intro-start;
      }

      .blog-entry-footer {
        grid-row-end: intro-end;
      }

      .blog-content-start {
        grid-row-end: content-start;

        + * {
          order: -1;
        }
      }

      .blog-latest-entries {
        grid-row: header;
        grid-column: span 1 / -1;
      }

      > .blog-related-content {
        grid-column: span 1 / -1;
        order: -1;
        align-self: start;
      }

      > .full-width {
        grid-column: 1 / -1;
      }
    }
  }
}
