@import "~kingdom-css/src/modules/sizing";

@media(min-width: $readable-line-length-max + $readable-line-length-min) {
  @supports(display: grid) {
    .blog-entry {
      display: grid;
      grid-template-columns: [intro-start] $readable-line-length-max [intro-end] 1fr;
      grid-template-rows: [intro-start]
                          1fr
                          auto
                          auto
                          [intro-end]
                          ;
      grid-auto-flow: dense;
      align-items: center;
      @include length-relative(grid-column-gap);

      > * {
        grid-column: 1 / span 1;
      }

      .blog-content-start {
        align-self: end;
      }

      .blog-content-end {
        align-self: start;
      }

      .blog-latest-entries {
        grid-row: 1 / 4;
        grid-column: span 1 / -1;
      }

      > .blog-related-content {
        grid-column: span 1 / -1;
      }

      > .full-width {
        grid-column: 1 / -1;
      }
    }
  }
}
