// CSS is built using https://bjuppa.github.io/kingdom/
// npm install kingdom-css

$colors: (primary: #2A7F62) !default;

@import "~kingdom-css/src/L2-sizing";
@import "~kingdom-css/src/utilities/layout/screenreaders";

@import "~kingdom-css/src/modules/lists";

.blog {
  max-width: 100%;
  width: 100ch;
  min-width: auto;

  margin-left: auto;
  margin-right: auto;

  @include padding-relative();

  p {
    @include width-readable();
  }
}

.blog-entry-list {
  @include list-unstyled();
}

.blog-latest-entries-links {
  @include list-unstyled();
}

.blog-author-list {
  @include list-comma-separated();
}

.blog-social-sharing {
  ul {
    @include list-inline();
  }

  .share-link-prefix {
    @extend .sr-only;
  }
}
